<h2 mat-dialog-title>Add child</h2>

<form [formGroup]="childForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="child-form">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" autocomplete="given-name" />
      <mat-error *ngIf="childForm.controls.firstName.hasError('required')">
        First name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" autocomplete="family-name" />
      <mat-error *ngIf="childForm.controls.lastName.hasError('required')">
        Last name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput type="date" formControlName="dob" />
      <mat-error *ngIf="childForm.controls.dob.hasError('required')">
        Date of birth is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sex</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="MALE">Male</mat-option>
        <mat-option value="FEMALE">Female</mat-option>
        <mat-option value="NOT_SPECIFIED">Prefer not to say</mat-option>
      </mat-select>
      <mat-error *ngIf="childForm.controls.sex.hasError('required')">
        Sex is required.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add child</button>
  </mat-dialog-actions>
</form>
