<mat-grid-list cols="1" rowHeight="20:1">
  <mat-grid-tile>
    <mat-grid-tile-header>
      <h1>Welcome to SkyHigh Tech Daycare</h1>
    </mat-grid-tile-header>
    <!-- src/assets/img/daycare-image-1.jpg -->
  </mat-grid-tile>
  <!-- <img src="assets/img/daycare-image-1.jpg" alt="Daycare Image" /> -->
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile colspan="2">
    <div>
      <h1>Find a daycare that is convenient and safe for your child</h1>

      <p>
        Choose a daycare that offers a safe environment and fits your daily
        routine, ensuring comfort and reliability for your child.
        <!-- src/assets/img/daycare-image-1.jpg -->
      </p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="2">
    <img src="assets/img/daycare-image-1.jpg" alt="Daycare Image" />
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <img
      src="assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
      alt="Daycare Image"
    />
    <img
      src="assets/img/GetItOnGooglePlay_Badge_Web_color_English-01.svg"
      alt="Daycare Image"
    />
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="count-grid-list" cols="3" rowHeight="3:1">
  <mat-grid-tile colspan="3" gutterSize="10px">
    <h1>Our trusted community</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="count-card" appearance="outlined">
      <mat-card-header class="center-header">
        <mat-card-title>Total Registered Daycares</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>1500+</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="count-card" appearance="outlined">
      <mat-card-header class="center-header">
        <mat-card-title>Registered Parent count</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>1500+</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="count-card" appearance="outlined">
      <mat-card-header class="center-header">
        <mat-card-title>Registerd Children count</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>1500+</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
